<a href="https://colab.research.google.com/github/brunofaragao/Lessons/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install pandas

In [ ]:
# Import the library

import numpy as np
import pandas as pd

Config how the DataFrame is displayed

In [ ]:
from google.colab import data_table

Import dataset from excel

In [ ]:
data = pd.read_excel('dataset_sales.xlsx')
df = pd.DataFrame(data)
df.set_index('Row ID', inplace=True)
print(df)

              Order ID  Order Date  Ship Date       Ship Mode Customer ID  \
Row ID
1       CA-2016-152156       42682      42685    Second Class    CG-12520
2       CA-2016-152156       42682      42685    Second Class    CG-12520
3       CA-2016-138688       42533      42537    Second Class    DV-13045
4       US-2015-108966       42288      42295  Standard Class    SO-20335
5       US-2015-108966       42288      42295  Standard Class    SO-20335
...                ...         ...        ...             ...         ...
9990    CA-2014-110422       41660      41662    Second Class    TB-21400
9991    CA-2017-121258       42792      42797  Standard Class    DB-13060
9992    CA-2017-121258       42792      42797  Standard Class    DB-13060
9993    CA-2017-121258       42792      42797  Standard Class    DB-13060
9994    CA-2017-119914       42859      42864    Second Class    CC-12220

           Customer Name    Segment        Country             City  \
Row ID
1            Claire Gute   Consumer  United States        Henderson
2            Claire Gute   Consumer  United States        Henderson
3        Darrin Van Huff  Corporate  United States      Los Angeles
4         Sean O'Donnell   Consumer  United States  Fort Lauderdale
5         Sean O'Donnell   Consumer  United States  Fort Lauderdale
...                  ...        ...            ...              ...
9990    Tom Boeckenhauer   Consumer  United States            Miami
9991         Dave Brooks   Consumer  United States       Costa Mesa
9992         Dave Brooks   Consumer  United States       Costa Mesa
9993         Dave Brooks   Consumer  United States       Costa Mesa
9994        Chris Cortes   Consumer  United States      Westminster

             State  Postal Code Region       Product ID         Category  \
Row ID
1         Kentucky        42420  South  FUR-BO-10001798        Furniture
2         Kentucky        42420  South  FUR-CH-10000454        Furniture
3       California        90036   West  OFF-LA-10000240  Office Supplies
4          Florida        33311  South  FUR-TA-10000577        Furniture
5          Florida        33311  South  OFF-ST-10000760  Office Supplies
...            ...          ...    ...              ...              ...
9990       Florida        33180  South  FUR-FU-10001889        Furniture
9991    California        92627   West  FUR-FU-10000747        Furniture
9992    California        92627   West  TEC-PH-10003645       Technology
9993    California        92627   West  OFF-PA-10004041  Office Supplies
9994    California        92683   West  OFF-AP-10002684  Office Supplies

       Sub-Category                                       Product Name  \
Row ID
1         Bookcases                  Bush Somerset Collection Bookcase
2            Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
3            Labels  Self-Adhesive Address Labels for Typewriters b...
4            Tables      Bretford CR4500 Series Slim Rectangular Table
5           Storage                     Eldon Fold 'N Roll Cart System
...             ...                                                ...
9990    Furnishings                             Ultra Door Pull Handle
9991    Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...
9992         Phones                              Aastra 57i VoIP phone
9993          Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"
9994     Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...

           Sales  Quantity  Discount    Profit
Row ID
1       261.9600         2      0.00   41.9136
2       731.9400         3      0.00  219.5820
3        14.6200         2      0.00    6.8714
4       957.5775         5      0.45 -383.0310
5        22.3680         2      0.20    2.5164
...          ...       ...       ...       ...
9990     25.2480         3      0.20    4.1028
9991     91.9600         2      0.00   15.6332
9992    258.5760         2      0.20   19.3932
9993     29.6000         4      0.00   13.3200
9994    243.1600         2      0.00   72.9480

[9994 rows x 20 columns]

In [ ]:
subData = df.loc[0:, ['State', 'Segment', 'Customer ID', 'Category', 'Sales', 'Profit']].copy()
print(subData)

             State    Segment Customer ID         Category     Sales    Profit
Row ID
1         Kentucky   Consumer    CG-12520        Furniture  261.9600   41.9136
2         Kentucky   Consumer    CG-12520        Furniture  731.9400  219.5820
3       California  Corporate    DV-13045  Office Supplies   14.6200    6.8714
4          Florida   Consumer    SO-20335        Furniture  957.5775 -383.0310
5          Florida   Consumer    SO-20335  Office Supplies   22.3680    2.5164
...            ...        ...         ...              ...       ...       ...
9990       Florida   Consumer    TB-21400        Furniture   25.2480    4.1028
9991    California   Consumer    DB-13060        Furniture   91.9600   15.6332
9992    California   Consumer    DB-13060       Technology  258.5760   19.3932
9993    California   Consumer    DB-13060  Office Supplies   29.6000   13.3200
9994    California   Consumer    CC-12220  Office Supplies  243.1600   72.9480

[9994 rows x 6 columns]

In [ ]:
# Adding 2 columns to calculate the percentage
subData['% Sales'] = (subData['Sales']/subData['Sales'].sum()*100)
subData['% Profit'] = (subData['Profit']/subData['Profit'].sum()*100)

# Reorganize DataFrame columns
subData = subData[['State', 'Segment', 'Customer ID', 'Category', 'Sales', '% Sales', 'Profit', '% Profit']]
print(subData)

             State    Segment Customer ID         Category     Sales  \
Row ID
1         Kentucky   Consumer    CG-12520        Furniture  261.9600
2         Kentucky   Consumer    CG-12520        Furniture  731.9400
3       California  Corporate    DV-13045  Office Supplies   14.6200
4          Florida   Consumer    SO-20335        Furniture  957.5775
5          Florida   Consumer    SO-20335  Office Supplies   22.3680
...            ...        ...         ...              ...       ...
9990       Florida   Consumer    TB-21400        Furniture   25.2480
9991    California   Consumer    DB-13060        Furniture   91.9600
9992    California   Consumer    DB-13060       Technology  258.5760
9993    California   Consumer    DB-13060  Office Supplies   29.6000
9994    California   Consumer    CC-12220  Office Supplies  243.1600

         % Sales    Profit  % Profit
Row ID
1       0.011403   41.9136  0.014635
2       0.031862  219.5820  0.076670
3       0.000636    6.8714  0.002399
4       0.041685 -383.0310 -0.133741
5       0.000974    2.5164  0.000879
...          ...       ...       ...
9990    0.001099    4.1028  0.001433
9991    0.004003   15.6332  0.005459
9992    0.011256   19.3932  0.006771
9993    0.001289   13.3200  0.004651
9994    0.010585   72.9480  0.025471

[9994 rows x 8 columns]

Find witch category has more profit

In [ ]:
category_rank = subData.groupby('Category')['Profit'].sum()
print(category_rank)

NameError: ignored

In [ ]:
prod_rank = df.groupby('State')['Profit'].sum().sort_values('Profit', ascending=True)

print(prod_rank)

<ipython-input-44-e016e058727b>:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  prod_rank = df.groupby('State')['Profit'].sum().sort_values('Profit', ascending=True)

ValueError: ignored