<a href="https://colab.research.google.com/github/brunofaragao/Lessons/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install pandas

In [ ]:
# Import the library

import pandas as pd

In [ ]:
## Working with lists

data = ['John', 'Maria', 'Pedro', 'Rodolf']

df = pd.DataFrame(data)
print(df)

        0
0    John
1   Maria
2   Pedro
3  Rodolf

Defining the column name

In [ ]:
df1 = pd.DataFrame(data, columns=['Name'])

print(df1)

     Name
0    John
1   Maria
2   Pedro
3  Rodolf

Convert a list into a DataFrame of 2 columns (3 ways of doing it)


1.   Spliting the list into 2 sublists and a DataFrame from it

In [ ]:
data = ['John', 'Maria', 'Pedro', 'Rodolf', 20, 30, 40, 50]

# split the list into two separate lists
data_name = data[0:4]  # defining data_name from position 0 to 3
data_age = data[4:8]   # defining data_age from position 4 to 7


#print(type(data_name), data_name)
#print(' ')
#print(type(data_age), data_age)
#print(' ')

##Create a DataFrame from 2 lists

merge_lists = list(zip(data_name, data_age))

df = pd.DataFrame(merge_lists, columns = ['Name', 'Age'])

print(df)

     Name  Age
0    John   20
1   Maria   30
2   Pedro   40
3  Rodolf   50


2.   Spliting the list into 2 sublists and a DataFrame from it (2nd way)

In [ ]:
data = ['John', 'Maria', 'Pedro', 'Rodolf', 20, 30, 40, 50]

split_lists = [data[x:x+4] for x in range(0, len(data), 4)]

#print(split_lists)
#print(type(split_lists))

df = pd.DataFrame(split_lists, index=['Name', 'Age'])

print(df)

         0      1      2       3
Name  John  Maria  Pedro  Rodolf
Age     20     30     40      50


3.   Spliting the list into 2 sublists and a DataFrame from it (3rd way)

In [ ]:
data = ['John', 'Maria', 'Pedro', 'Rodolf', 20, 30, 40, 50]

name_data=[]
age_data = []
new_data = []

i=0
for el in data:
  if i < 4:
    name_data.append(el)
  else:
    age_data.append(el)
  i +=1

#print(name_data)
#print(' ')
#print(age_data)

zipped = list(zip(name_data, age_data))
# print(zipped)

df2 = pd.DataFrame(zipped, columns=['Name','Age'])
print(df2)

     Name  Age
0    John   20
1   Maria   30
2   Pedro   40
3  Rodolf   50

Adding a new column to the DataFrame (Country)

In [ ]:
df2['Country'] = ['USA', 'Spain', 'Mexico', 'Germany']
print(df2)

     Name  Age  Country
0    John   20      USA
1   Maria   30    Spain
2   Pedro   40   Mexico
3  Rodolf   50  Germany

DataFrame from Dictionaries

In [ ]:
dictData = {'Name': ['John', 'Maria', 'Pedro', 'Rodolf'], 'Age': [20, 30, 40, 50], 'Country': ['USA', 'Spain', 'Mexico', 'Germany']}

dfDict = pd.DataFrame(dictData)

print(dfDict)

     Name  Age  Country
0    John   20      USA
1   Maria   30    Spain
2   Pedro   40   Mexico
3  Rodolf   50  Germany